*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 0 30px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*header section*/
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: beige;
}
.logo h3{
    font-size: 26px;
    font-weight: bolder;
    font-family: cursive;
}
.logo-name{
    color: blue;
}
.nav-link ul{
    display: flex;
    gap: 35px;
}
.nav-link li a{
    font-size: 20px;
    color: black;
    font-weight: 800;
    font-family: cursive;
}
/*banner style*/
.banner-section img{
    width: 100%;
    height: 500px;
}
